In [115]:
import pandas as pd

In [194]:
classification=['Freshman','Freshman','Sophomore','Junior','Freshman','Sophomore']
hour_of_practice=['>2h','>2h','>2h','<2h','>2h','<2h']
pass_the_quiz=[1,1,1,1,0,0]
df=pd.DataFrame({'Classification':classification, 
                'hour of practice':hour_of_practice, 
                "Pass the quiz":pass_the_quiz })
df

  Classification hour of practice  Pass the quiz
0       Freshman              >2h              1
1       Freshman              >2h              1
2      Sophomore              >2h              1
3         Junior              <2h              1
4       Freshman              >2h              0
5      Sophomore              <2h              0

## Gini Imputiry

$$\text{Gini($K$)}=\sum^N_{i=1}P_{i,K}(1-P_{i,K})=1-\sum^N_{i=1}P_{i,K}^2$$
* $N$ is the number of classes
* $K$ is the category
* $P_{i,K}$ is the probability of category $K$ having class $i$

In [195]:
# Input Format(df,feature,category,target name,#List of all classes)
# where df is the current node observation

def gini(df,feature,category,target,classes_list):
    df=df[df[feature]==category]
    def P_i_K(i):
        return len(df[df[target]==i])/len(df)
        
    result=1-sum([(P_i_K(i))**2 for i in classes_list])
    return result

In [196]:
for category in df['Classification'].unique():
    print(category+" Giniti:",
          gini(df,'Classification',category,'Pass the quiz',[1,0]))

Freshman Giniti: 0.4444444444444444
Sophomore Giniti: 0.5
Junior Giniti: 0.0

## Gini index

$$I_{\text{Ginity}}(a)=\sum^M_{k=1}P_{k,a}\cdot\text{Ginity($k$)}$$
* $a$ is the feature
* $M$ is the number of category in feature $a$ 
* $P_{k,a}$is the fraction of category $k$ in feature $a$

In [197]:
#
def Gini_index(df,feature,target,classes_list):
    def P_k_a(category):
        return len(df[df[feature]==category])/len(df)
    
    result=0
    for category in df[feature].unique():
        gini_value=gini(df,feature,category,target,classes_list) 
        P_k_a_value=P_k_a(category)
        print(category,gini_value,P_k_a_value)
        result+=gini_value*P_k_a_value

    return result

In [198]:
Gini_index(df,'Classification','Pass the quiz',[1,0])

Freshman 0.4444444444444444 0.5
Sophomore 0.5 0.3333333333333333
Junior 0.0 0.16666666666666666

0.38888888888888884

In [199]:
Gini_index(df,'hour of practice','Pass the quiz',[1,0])

>2h 0.375 0.6666666666666666
<2h 0.5 0.3333333333333333

0.41666666666666663

In [200]:
## Sklearn

In [201]:
df_new=df.copy()
df_new['Classification']=df['Classification'].map({'Freshman':1, 
                                                   'Sophomore':2 , 
                                                   'Junior':3})
df_new['hour of practice']=df['hour of practice'].map({'>2h':1, '<2h':0})
df_new

   Classification  hour of practice  Pass the quiz
0               1                 1              1
1               1                 1              1
2               2                 1              1
3               3                 0              1
4               1                 1              0
5               2                 0              0

In [202]:
from sklearn import tree

X = df_new[['Classification','hour of practice']].values
Y = df_new['Pass the quiz'].values
clf = tree.DecisionTreeClassifier(min_samples_split=2)
clf = clf.fit(X, Y)

In [204]:
#Freshman <2h
print("Freshman >2h", clf.predict([[1, 0]]))
print("Sophomore >2h", clf.predict([[2, 1]]))
print("Junior >2h", clf.predict([[3, 1]]))

Freshman >2h [0]
Sophomore >2h [1]
Junior >2h [1]

## Entropy

$$H(K)=\begin{cases}-\sum^N_{i=1}P_{i,K}\log_2P_{i,K} \hspace{6.5mm} P_{i,k}\neq 0 \text{ for all }i \\ 0  \hspace{35mm} \text{otherwise} \end{cases}$$

* N is number of classes
* $P_{i,K}$ is the probability of $K$ having class $i$

## Info gain:
$$IG(T,a)=H(T)-H(T|a)=H(T)-\sum^K_{i=1} P_{i,a} \cdot H(i)$$
* $T$ is the sample space
* $a$ is the feature
* $H(T|a)$ can be understand as weighted sum of all entropy